{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0; url=/game"/>
{% endif %}

<!-- Body of the Home page -->
<div class="container">
    {% if user.is_authenticated %}
        <h1>Logging in..</h1>
    {% else %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-register-bk panel panel-login">
                <div class="panel-heading login-register-bk">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="" id="user-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body login-register-bk">
                    <div class="row">
                        <div class="col-xs-12">

                            <form id="login-form" method="post" action="/login/">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="input-labels" for="log_username">Username: </label>
                                    <input id="log_username" type="text" name="username" value="" class="col-xs-12"/>
                                </div>
                                <br/>
                                <div class="form-group form-input-area">
                                    <label class="input-labels" for="log_password">Password: </label> 
                                    <input id="log_password" type="password" name="password" value="" class="col-xs-12"/>
                                </div>
                                <br/>

                                <!-- Provide a button to click to submit the form. -->
                                <div class="form-group submit-button-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="Login">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            {% if registered %}
                            Rulers of the Kingdom says: <strong>thank you for registering!</strong>
                            <br/>
                            {% else %}
                            
                                {% if errors %}
                                    Rulers of the Kingdom says: <strong>registering was not possible!</strong>
                                    {{errors}}
                                {% endif %}
                                <br/>
                            {% endif %}
                            

                            <form id="user_form" class="form register-form" method="post" action="/"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Display each form. The as_p method wraps each element in a paragraph
                                         (<p>) element. This ensures each element appears on a new line,
                                         making everything look neater. -->
                                <div class="form-group">
                                    <label class="input-labels" for="reg_username">Username: </label>
                                    <input id="reg_username" type="text" name="username" value="" class="col-xs-12"/>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <label class="input-labels" for="reg_email">Email: </label>
                                    <input id="reg_email" type="text" name="email" value="" class="col-xs-12"/>
                                </div>
                                <br/>
                                <div class="form-group form-input-area">
                                    <label class="input-labels" for="reg_password">Password: </label>
                                    <input id="reg_password" type="password" name="password" value="" class="col-xs-12"/>
                                </div>
                                <br/>


                                <!-- Provide a button to click to submit the form. -->
                                <div class="form-group submit-button-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="submit" id="register-submit" tabindex="4"
                                                   class="form-control btn btn-register" value="Register">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}