Pillow==3.1.0
argparse==1.4.0
boto==2.6.0
django==1.8.8
elementtree==1.2.7-20070827-preview
html5lib==0.90
markdown==2.0.3
mysql-python==1.2.3
pbr==1.8.1
psycopg2==2.6
pysqlite==2.6.3
python-openid==2.2.5
six==1.10.0
south==0.7.6
stevedore==1.10.0
virtualenv==1.9.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
virtualenvwrapper-win==1.1.5
