.modal_content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:1000px;
    height:200px;
    background-image: url(http://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg);
    border-radius:4px;
    border:3px solid #fff;
    margin:auto;
    display:none;
}