@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

* {
padding:0;
margin:0;
}

body {
    padding-top: 60px;
    background-color: rgba(205, 196, 167, 0.4);
    font-family: 'Slabo 27px', serif;
}

/* NAV BAR */

.navbar-text {
    color: #000000 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-default .navbar-nav>li:last-of-type {}

.navbar-default .navbar-nav>li {
    display: inline-block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-default .navbar-nav>li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-title {
    width: 100%;
}

.navbar {
    background-color: rgba(223, 84, 63, 1);
    margin-bottom: 0px !important;
    padding-right: 20px;
    border-bottom: 5px solid #fff;
}

.nav-brand-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-brand-icon {
    max-width: 100%;
    max-height: 100%;
}

.brand-image {
    max-width: 100%;
    max-height: 100%;
}

/* Login and Register */
.centered{
	margin-left: auto;
    margin-right: auto;
}
.login-register-bk{
	background-color: #FFE3BF;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #67689B;
	background-color: #FFE3BF;
	border-color: #FFE3BF;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #67689B;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #444680;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #397F5F;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #397F5F;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #206847;
	border-color: #206847;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #397F5F;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #397F5F;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #206847;
	border-color: #206847;
}

.register-form{
	display: none;
}

.form-style{
	position: absolute;
    right: 0px;
}

.input-labels{
	padding-top: 5px;
}

.form-input-area{
	padding-bottom: 10px;
}

.submit-button-margin{
	margin-top: 15px;
}

.centered{
	 margin: auto !important;
	 width: 66% !important;
}

/* log bars */

.accountLog {
    background-image: url(http://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg);
    background-size: 100% auto;
    background-position: center center;
    box-sizing:border-box;
    border-radius:4px;
    overflow:hidden;
    font-size:18px;
    font-weight:bold;
    color:#000;
    /*position:fixed;*/
    bottom:0;
    left:0;
    right:0;
    height:30px;
    line-height:30px;
    text-align:center;
    margin-top:20px;
    padding-bottom:10px;
}

.accountLog.open {
    height:170px;
}

#logs_text {
    display:block;
    border:0;
    width:90%;
    height:100px;
    margin:auto;
    padding:10px;
    box-sizing:border-box;
    background:transparent;
    outline:0;

    color:#000;
    font-weight:bold;
    font-size:18px;
    font-family: 'Slabo 27px', serif;
    border-radius:4px;
    overflow:auto;
  }

.modal_overlay {
    position:fixed;
    z-index:999;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
    display:none;
}

.modal_content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:400px;
    height:200px;
    background-image: url(http://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg);
    border-radius:4px;
    border:3px solid #fff;
    margin:auto;
    display:none;
}

.text_alert {
    font-size:18px;
    font-weight:bold;
    line-height:200px;
    text-align:Center;
}