{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <h1>Search Alliances:</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="searchText" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-default" type="button">Search</button>
                  </span>
            </div>
        </div>
    </div>
    <div class="row">
        {% if similar_alliances %}
            {% if query %}
                <h2> {{ similar_alliances | length }} results for search: {{query}}</h2>
            {% else %}
                <h2> Top {{ similar_alliances | length }} Alliances</h2>
            {% endif %}
            <ul>
                {% for alliance in similar_alliances %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/game/alliance/{{ alliance.name }}">{{alliance.name}}</a> - Score:{{ alliance.all_time_score }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2> 0 results for search: {{query}}</h2>
        {% endif %}
    </div>
</div>

{% else %}
    <meta http-equiv="refresh" content="0; url=/"/>
{% endif %}

{% endblock %}
