<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Search: {{query}}</title>
    <script>
        $(document).ready(function(){
            $('#searchButton').click(function(){
                window.location.href = "/game/alliance_search/"+document.getElementById("searchText").value;
            });
            $("#searchText").keyup(function(event){
                if(event.keyCode == 13){
                    $("#searchButton").click();
                }
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Search Alliances:</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="searchText" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-default" type="button">Search</button>
                  </span>
            </div>
        </div>
    </div>
    <div class="row">
        {% if similar_alliances %}
            {% if query %}
                <h2> {{ similar_alliances | length }} results for search: {{query}}</h2>
            {% else %}
                <h2> Top {{ similar_alliances | length }} Alliances</h2>
            {% endif %}
            <ul>
                {% for alliance in similar_alliances %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/game/alliance/{{ alliance.name }}">{{alliance.name}}</a> - Score:{{ alliance.all_time_score }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2> 0 results for search: {{query}}</h2>
        {% endif %}
    </div>
</div>

</body>
</html>