<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>{{alliance.name}}</title>

    <script>
        last_message_id = -1;

        function get_alliance_messages(){
            alliance_text_area = document.getElementById("alliance_text_area");
            $.get('/game/get_alliance_messages/',{'last_message_id':last_message_id}, function(data){

                messages = data.split('$$');
                for(i=0; i < messages.length; i++){
                    if(messages[i] != ""){
                        real_message = messages[i].split('||');
                        message_id = parseInt(real_message[0]);
                        if(message_id>last_message_id){
                            last_message_id=message_id;
                        }
                        alliance_text_area.value += real_message[1]+': '+real_message[2]+'\n'
                        alliance_text_area.scrollTop = alliance_text_area.scrollHeight;
                    }
                }
            });
        }

        function sendAllianceMessage() {
            var x = document.getElementById("user_msg").value;
            $.get('/game/add_alliance_message/', {'message': x,'to_alliance_id':{{acc.alliance.pk}}}, function(data){
                if(data == -1){
                    $('#requestResult').html("Message was not delivered");
                    $("#leaveNotifAlert").show();
                }else{
                    document.getElementById("user_msg").value="";
                    get_alliance_messages();
                }
            });
        }

        function sendAllianceRequest() {
            var x = document.getElementById("msg").value;
            $.get('/game/alliance_request/{{ alliance.name}}', {msg: x}, function(data){
                $('#requestResult').html(data);
                if(data != -1){
                    $("#leaveNotifAlert").show();
                }
            });
            document.getElementById("msg").value="";
        }

        function leaveAlliance() {
            $.get('/game/leave_alliance/', function(data){
                $('#requestResult').html(data);
                if(data != -1){
                    $("#leaveNotifAlert").show();
                }
            });
        }

        function changeOrders() {
            var orders = document.getElementById("orders_text_area").value;
            $.get('/game/change_orders/',{'orders':orders}, function(data){
                $('#requestResult').html("Orders Changed Successfully");
                if(data != -1){
                    $("#leaveNotifAlert").show();
                }
            });
        }

        function returnToGame(){
            window.location.href = "/game/";
        }

		$(document).ready(function(){

            {% if acc.alliance == alliance %}
                {% if request.user.username != leader %}
                    document.getElementById("orders_text_area").readOnly = true;
                {% endif %}
            {% endif %}

            $('.acceptButton').click(function() {
                reqAcc = $(this).attr("reqAcc");
                $.get('/game/accept_alliance/'+reqAcc, function(data){
                    location.reload();
                });
            });

            $('.declineButton').click(function() {
                reqAcc = $(this).attr("reqAcc");
                $.get('/game/decline_alliance/'+reqAcc, function(data){
                    location.reload();
                });
            });

            $('.kickButton').click(function() {
                reqAcc = $(this).attr("reqAcc");
                $.get('/game/kick_member/'+reqAcc, function(data){
                    console.log(data);
                    if(data == 1){
                        location.reload();
                    }
                });
            });

            $('.alert .close').on('click', function(e) {
                returnToGame();
            });

            $('#sendButton').click(function(){
                sendAllianceMessage();
            });

            $('#user_msg').keyup(function(event){
                if(event.keyCode == 13){
                    $("#sendButton").click();
                }
            });

            document.getElementById("alliance_text_area").readOnly = true;

            //polling that gets the messages
            get_alliance_messages()
            setInterval(function() {get_alliance_messages()}, 5000);
        });

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Alliance {{ alliance.name}}</a></h1>
        <h2>Leader <a href="/game/battle/{{leader}}">{{leader}}</a></h2>
    </div>

    <div class="row">
        {% if acc.alliance != alliance %}
        <strong>Alliance Request:</strong><input type="text" id="msg">
        <button onclick="sendAllianceRequest();" id="alliance_request_button" class="btn btn-primary" type="button">
            Request
        </button>
        {% endif %}
        {% if acc.alliance == alliance %}
        <button onclick="leaveAlliance();" id="leave_button" class="btn btn-primary" type="button">Leave</button>
        {% endif %}
    </div>
    <div class="row">
        <div class="row">
            <strong>Alliance score:</strong> {{ alliance.all_time_score}}
        </div>
        <div class="row">
            <strong>Description:</strong> {{ alliance.description}}
        </div>
        {% if acc.alliance == alliance %}
        <div class="row">
            <strong>Orders:</strong>
        </div>
        <div class="row">
                    <textarea id="orders_text_area"
                              style="min-width: 100%; height: 100px; max-height: 100px;">{{ alliance.orders}}</textarea>
        </div>
        {% if request.user.username == leader %}
        <div class="row">
            <button onclick="changeOrders();" id="change_orders_button" class="btn btn-primary" type="button">Change
            </button>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <div class="alert fade in alert-success" id="leaveNotifAlert" style="display:none;">
            <button type="button" class="close">Back</button>
            <strong><span id="requestResult"></span></strong>
        </div>
    </div>

    <div class="row">
        {% if acc.user.username == leader %}
        <h3>Alliance Requests ({{ requests | length }})</h3>
        <ol>
            {% for req in requests %}
            <li>{{req.from_account.user.username}} - {{req.date_occurred}}, Message: {{req.text}} , Wins:
                {{ req.from_account.wins }}
                <button reqAcc="{{req.from_account.user.username}}" type="button"
                        class="btn btn-success btn-xs acceptButton">Y
                </button>
                <button reqAcc="{{req.from_account.user.username}}" type="button"
                        class="btn btn-danger btn-xs declineButton">N
                </button>
            </li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Members ({{ allies | length }} / 50)</h3>
            <ol>
                {% for ally in allies %}
                <li><a href="/game/battle/{{ally.user.username}}">{{ally.user.username}}</a> {{ ally.wins }}
                    {% if ally.user.username != leader %}
                    {% if request.user.username == leader %}
                    <button reqAcc="{{acc.user.username}}" type="button"
                            class="btn btn-danger btn-xs kickButton">Kick
                    </button>
                    {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        {% if acc.alliance == alliance %}
        <div class="col-md-6">
            <div class="row">
                <label for="alliance_text_area" id="alliance_chat_heading">Alliance Chat</label>
            </div>
            <div class="row">
                    <textarea id="alliance_text_area"
                              style="min-width: 100%; height: 100px; max-height: 100px;"></textarea>
            </div>
            <div class="row">
                    <input type="text" id="user_msg">
                    <button id="sendButton" class="btn btn-default" type="button">Send</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>