<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Rulers of The Kingdom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
	  $(document).ready(function(){
          $('#attackButton').click(function(){
          	$.get('/game/attack/'+"{{account.user.username}}", function(data){
                   console.log(data); 
         	});
          });
      });


    </script>

</head>
<body>


{% if user.is_authenticated %}

<h1>{{account.user.username}}</h1>
<img src="{{ MEDIA_URL }}/media/{{account.picture}}" %}" width=10% class="img-thumbnail"/>
<div>
    supply level: {{city.supply}}<br>
    walls level: {{city.walls_level}}<br>
</div>

<button id="attackButton" type="button">Attack</button>

<div>
    <a href="/game/logout/">Logout</a><br/>
</div>

{% else %}
<a href="/game/register/">Register Here</a><br/>
<a href="/game/login/">Login</a><br/>
{% endif %}
<a href="/game/">Home</a><br/>

</body>
</html>