<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html lang="en">
<head>
    <title>Rulers of The Kingdom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>

        function populateLogBox(){
            $.get('/game/get_logs/', function(data){
                $('#logs_text').html(data.replace(/\$\$/g,'<br />'));
            });
        }

		$(document).ready(function(){
            $('#houseButton,#wallButton,#footmenButton,#knightsButton,#bowmenButton,#war_machinesButton').click(function(){
                et = $(this).attr("element_type");
                $.get('/game/buy', {element_type: et}, function(data){
                    if(data == "-1"){
                        //show alert

                    }else{
                       //increments stuff
                       switch(et){
                           case "supply":
                                var res = data.split(",");
                                $('#supplyLevel').html(res[0]);
                                $('#supplyCost').html(res[1]);
                                break;
                           case "wall":
                                var res = data.split(",");
                                $('#wallLevel').html(res[0]);
                                $('#wallCost').html(res[1]);
                                break;
                           case "knights":
                                $('#knights').html(data);
                                break;
                           case "footmen":
                                $('#footmen').html(data);
                                break;
                           case "bowmen":
                                $('#bowmen').html(data);
                                break;
                           case "knights":
                                $('#knights').html(data);
                                break;
                           case "war_machines":
                                $('#war_machines').html(data);
                                break;
                       }
                   }
                 });
            });

            //polling that gets the logs
            populateLogBox()
            setInterval(function() {populateLogBox()}, 5000);
        });

    </script>

</head>
<body>

<img src="{% static "images/rulersofthekingdom.png" %}" width=50% class= col-md-offset-2 />

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Structures</th>
                    <th>Level</th>
                    <th>Upgrade Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width:5%">Supply</td>
                    <td style="width:5%"><span id="supplyLevel">{{city.supply}}</span></td>
                    <td style="width:5%"><span id="supplyCost">{{cost.house_price}}</span> <button id="houseButton" element_type="supply" type="button">+</button> </td>
                </tr>
                <tr>
                    <td style="width:5%">Walls Level</td>
                    <td style="width:5%"><span id="wallLevel">{{city.walls_level}}</span></td>
                    <td style="width:5%"><span id="wallCost">{{cost.wall_price}}</span> <button id="wallButton" element_type="wall" type="button">+</button> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Troop Type</th>
                    <th>Amount</th>
                    <th>Hiring Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width:5%">Footmen</td>
                    <td style="width:5%"><span id="footmen">{{city.footmen}}</span></td>
                    <td style="width:5%">{{cost.footmen_price}} <button id="footmenButton" element_type="footmen" type="button">+</button> </td>
                </tr>
                <tr>
                    <td style="width:5%">Knights</td>
                    <td style="width:5%"><span id="knights">{{city.knights}}</span></td>
                    <td style="width:5%">{{cost.knights_price}} <button id="knightsButton" element_type="knights" type="button">+</button> </td>
                </tr>
                <tr>
                    <td style="width:5%">Bowmen</td>
                    <td style="width:5%"><span id="bowmen">{{city.bowmen}}</span></td>
                    <td style="width:5%">{{cost.bowmen_price}} <button id="bowmenButton" element_type="bowmen" type="button">+</button> </td>
                </tr>
                <tr>
                    <td style="width:5%">WarMachines</td>
                    <td style="width:5%"><span id="war_machines">{{city.war_machines}}</span></td>
                    <td style="width:5%">{{cost.war_machines_price}} <button id="war_machinesButton" element_type="war_machines" type="button">+</button> </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Opponents <span
                        class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    {% for acc in userlist %}
                    <li><a href="/game/battle/{{acc.user.username}}">{{acc.user.username}} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <strong>Gold: </strong>{{city.gold}}
    </div>

    {% if acc.alliance %}
    <div class="row">
        <strong>Alliance: </strong><a
            href="/game/alliance/{{acc.alliance.name}}">{{acc.alliance.name}}</a><br/>
    </div>
    {% else %}
        <strong>Create or Join an alliance</strong>
    {% endif %}

    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-heading">Account Logs</div>
            <div id="logs_text" class="panel-body"></div>
        </div>
    </div>

    <div class="row">
        <a href="/game/logout/">Logout</a><br/>
    </div>
</div>

{% else %}
<a href="/game/register/">Register Here</a><br/>
<a href="/game/login/">Login</a><br/>
{% endif %}

</body>
</html>