<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rulers of the Kingdom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    {% load staticfiles %}
    
    {% block content %}
    {% endblock content %}

    <script src="{% static "js
    /home.js" %}"></script>
	    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
	    <script>
	    enemyId="{{enemy_city.account.pk}}";
	    enemyUsername="{{enemy_city.account.user.username}}";
	    </script>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand nav-brand-container" href="/game/">
                <img src="{% static "images/gold.png" %}" class="img-responsive brand-image" />
            </a>
            <a class="navbar-brand nav-brand-container" href="/game/">
                <img alt="Brand" src="{% static "images/banner.png" %}" class="img-responsive brand-image" />
            </a>
            <a class="navbar-brand nav-brand-container" href="/game/">
                <img src="{% static "images/gold.png" %}" class="img-responsive brand-image" />
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
                <li><a href="/game/" class="navbar-link">Castle</a></li>
                {% if acc.alliance %}
                    <li><a href="/game/alliance/{{acc.alliance.name}}" class="navbar-link">Alliance</a></li>
                {% else %}
                    <li><a href="/game/alliance_search/" class="navbar-link">Alliance</a></li>
                {% endif %}
                <li><a href="/stats/" class="navbar-link">Stats</a></li>
                <li><a href="/game/logout/" class="navbar-link">Logout</a></li>
            {% endif %}
        </ul>

    </div>
</nav>

<!-- Content -->
{% block body_block %}{% endblock %}

</body>
</html>